*{
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    background: linear-gradient(90deg,rgb(156, 118, 156),rgb(228, 201, 220));
}
header {
    display: flex;
    background-color: rgba(0, 0, 0, 0.425);
    margin-left: 0;
}

header img{
    max-width: 3cm;
  
}

nav, li, a{
    color: bisque;
    text-decoration: none;
    list-style: none;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5cm;
    padding: 0.5cm;
    flex-wrap: wrap;
}

section{
    
    align-items: center;
    justify-content: center;
    margin: 0.5cm;
    padding: 0.5cm;
    background-color: rgba(0, 0, 0, 0.589);
    min-height: 15cm;
    zoom: 75%;
    border-radius: 5px;
    min-width: 28%;

}


section img {
    
    max-height: 10cm;
    border-radius: 5px;
}

.section-input {
    padding: 0.5cm;
    zoom: 120%;
    background-color: rgba(0, 0, 0, 0.589);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 50%;
    border-radius: 5px;
        
    
}
input {
    background-color: rgba(255, 192, 203, 0.514);
    border: 2px white solid;
    border-radius: 5px;
    color: white;
    
}

h3 {
    color: bisque;
}

h4 {
    color: rgba(255, 228, 196, 0.651);
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.contenedorinput {
    
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    min-height: 1cm;
    color: white;

}

input::placeholder {
    color: white
}

ul{
    display: flex;
    padding-left:  5cm;
}

.menu{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: 5cm;

}
.logo{
   position:relative;
   margin-left: 0;

}

li{
    display: flex;
    padding-left:  2cm;
    font-size: 0.7cm;
    font-weight: 700;
    
    
}

